/*
*
* Base16 Tomorrow Night
* Author: Chris Kempson (http://chriskempson.com)
*
*/

@define-color base00 #1d1f21;
@define-color base01 #282a2e;
@define-color base02 #373b41;
@define-color base03 #969896;
@define-color base04 #b4b7b4;
@define-color base05 #c5c8c6;
@define-color base06 #e0e0e0;
@define-color base07 #ffffff;
@define-color base08 #cc6666;
@define-color base09 #de935f;
@define-color base0A #f0c674;
@define-color base0B #b5bd68;
@define-color base0C #8abeb7;
@define-color base0D #81a2be;
@define-color base0E #b294bb;
@define-color base0F #a3685a;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @base00;
  color: @base05;
  border-top: 2px solid @base01;
}

#workspaces {
  padding-top: 2px;
}

#workspaces button {
  padding: 0 2px;
  color: @base03;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
}

#workspaces button:hover {
  background: @base01;
  color: @base06;
}

#workspaces button.active {
  color: @base0D;
  background: @base01;
  border-bottom: 2px solid @base0D;
}

#workspaces button.urgent {
  background: @base08;
  color: @base07;
}

#window {
  margin-left: 8px;
  color: @base06;
  padding-top: 2px;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
  color: @base05;
  background: transparent;
  padding-top: 2px;
}

#clock {
  color: @base0D;
}

#cpu {
  color: @base0B;
}

#memory {
  color: @base0A;
}

#network {
  color: @base0C;
}

#pulseaudio {
  color: @base0E;
}

#tray {
  margin-right: 0;
  padding-right: 4px;
}

#battery {
  color: @base05;
}

#battery.warning {
  color: @base0A;
}

#battery.critical {
  color: @base08;
}

#battery.charging {
  color: @base0B;
}

#battery.charging.warning {
  color: @base09;
}

tooltip {
  background: @base01;
  color: @base06;
}

tooltip label {
  padding: 6px 8px;
}
