* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #111111;
  color: #dce3f0;
  border-top: 2px solid #2b2f36;
}

#workspaces {
  padding-top: 2px;
}

#workspaces button {
  padding: 0 2px;
  color: #6b7280;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
}

#workspaces button:hover {
  background: #1b1f2a;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #7aa2f7;
  background: #1b1f2a;
  border-bottom: 2px solid #7aa2f7;
}
#workspaces button.urgent {
  background: #ff5555;
  color: #ffffff;
}

#window {
  margin-left: 8px;
  color: #c0caf5;
  padding-top: 2px;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#tray {
  padding: 0px 10px;
  color: #dce3f0;
  background: transparent;
  padding-top: 2px;
}

#clock {
  color: #7aa2f7;
}

#cpu {
  color: #9ece6a;
}

#memory {
  color: #e0af68;
}

#network {
  color: #7dcfff;
}

#pulseaudio {
  color: #bb9af7;
}

#tray {
  margin-right: 0;
  padding-right: 4px;
}

#battery {
  color: #dce3f0; /* normal color */
}

#battery.warning {
  color: #f9c74f;
}
#battery.critical {
  color: #ef4444;
}
#battery.charging {
  color: #22c55e;
}
#battery.charging.warning {
  color: orange;
}

tooltip {
  background: #181c24;
  color: #dce3f0;
}

tooltip label {
  padding: 6px 8px;
}
